{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "43d352739c2a39c834d2014885dda5e8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/index.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a5"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v2?path=%2Findex.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 729,
            "text": "# The Blog | Welcome to Adobe Blog\n\n---\n\n## Featured Posts\n\n-   <https://blog.adobe.com/en/publish/2021/04/12/lessons-learned-21-years-on-fortune-100-best-companies.html>\n\n---\n\n## News\n\n### Road to Adobe Summit\n\nThe Digital Experience Conference – April 27-29, 2021\n\n[Browse the collection](https://blog.adobe.com/en/topics/adobe-summit.html)\n\n-   <https://blog.adobe.com/en/publish/2021/02/01/registration-is-open-adobe-summit-2021-is-free-virtual-and-global.html>\n-   <https://[...]
