{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "a50ce63a9d33dacaea234bcd59d1efdc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/index.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a5"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v2?path=%2Findex.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 1108,
            "text": "# The Blog | Welcome to Adobe Blog\n\n---\n\n## Featured Posts\n\n-   <https://blog.adobe.com/en/2020/09/14/inside-adobes-employee-focused-covid-19-response-roadmap.html>\n-   [https://blog.adobe.com/en/2020/06/10/listening-learning-and-taking-action.html](https://blog.adobe.com/en/2020/06/10/listening-learning-and-taking-action.html#gs.d75w28)\n-   [https://blog.adobe.com/en/2020/08/17/max-2020-registration-is-officially-open.html](https://blog.adobe.com/en/2020/08/17/max-2020-registration-is[...]
