{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "e37a98c27aa3118f1256bb0df5587d5d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/index.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v1?path=%2Findex.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 213,
            "text": "# The Blog | Welcome to Adobe Blog\n\n---\n\n## Featured Posts\n\n<https://theblog-adobe.hlx.page/en/drafts/migrated/2020/04/14/using-creativity-to-honorheroes-doing-extraordinary-things-during-covid-19.html>\n\n---\n\n---\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1589470029.872"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "edcd963ad2c44b8f8d963ad2c44b8f77"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "8050fd5c1e924ada90fd5c1e927ada93"
            },
            {
              "name": "x-source-location",
              "value": "/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2004,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
