{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Missing Document from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "936b0bbd59541f4ff0da124de3123cb2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/not-here.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a6"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v2?path=%2Fnot-here.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a6"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 42,
            "text": "no matching documents for \"/not-here.docx\""
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "x-last-activation-id",
              "value": "76e7d4fa12ac40dfa7d4fa12acc0dfc6"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "494c43f0a7aa40468c43f0a7aa7046f8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1731,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
