{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Missing Document from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "76afa7ac41b264515827410f9ad0ddb8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/not-here.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a6"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v1?path=%2Fnot-here.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a6"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 31,
            "text": "Error while converting document"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "x-last-activation-id",
              "value": "9aba41449bf14610ba41449bf10610b4"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "83607114b2db490aa07114b2db090a60"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1347,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
