{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Missing Document from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1cacd55414f0a9de66ca83cc51929261",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/not-here.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a6"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v3?path=%2Fnot-here.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a6"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-openwhisk-activation-id",
              "value": "a306be7590f24ff386be7590f24ff34a"
            },
            {
              "name": "x-error",
              "value": "no matching documents for \"/not-here.docx\""
            },
            {
              "name": "x-invocation-id",
              "value": "761612009e1a42af9612009e1a52af0a"
            },
            {
              "name": "x-last-activation-id",
              "value": "761612009e1a42af9612009e1a52af0a"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 2643,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
