{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Missing Document from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "be4465a2882ea53c50d8c06d388f4dd1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/not-here.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v1?path=%2Fnot-here.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 31,
            "text": "Error while converting document"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "x-last-activation-id",
              "value": "0498049cc6c941e798049cc6c971e789"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "19f74969bb60450cb74969bb60050c0f"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1287,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
