{
  "log": {
    "_recordingName": "Google JSON Tests/handles bad json from google",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5a9c934b659ec37a0743c90e1950b866",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "'1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP' in parents and name = \"data\" and trashed=false and mimeType != 'application/vnd.google-apps.folder'"
            },
            {
              "name": "fields",
              "value": "files(id, name)"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ],
          "url": "https://www.googleapis.com/drive/v3/files?q=%271bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP%27%20in%20parents%20and%20name%20%3D%20%22data%22%20and%20trashed%3Dfalse%20and%20mimeType%20%21%3D%20%27application%2Fvnd.google-apps.folder%27&fields=files%28id%2C%20name%29&includeItemsFromAllDrives=true&supportsAllDrives=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 361,
            "text": "[\"1f\",\"8b\",\"08\",\"00\",\"00\",\"00\",\"00\",\"00\",\"00\",\"00\",\"85\",\"8d310ec2300c45f79c22cacc001253378418d8d91083db58ada534464e4082aa77c749cbc2c262e9bff76d4fc63a1461718d9d8c5d43d274d5549142cf235054e8fac02d04b759b82024ae1c1e7938d53bab1a3125e8b1b8737c42206f8f821e632608e9db0adc41268e97d7bd5607048ff26b8b39e803167a2fa0f859c7ad345dc7be6cefb7bb1affbc36ba399b0f1002b2eff9000000\"]"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"https://accounts.google.com/\", error=invalid_token"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 185,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
