{
  "log": {
    "_recordingName": "Google JSON Tests/handles bad json from google",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "71718decb49cd3cd5c78bdfc9b4e947f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "'1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP' in parents and name = \"data\" and trashed=false and mimeType = 'application/vnd.google-apps.spreadsheet'"
            },
            {
              "name": "fields",
              "value": "files(id, name)"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ],
          "url": "https://www.googleapis.com/drive/v3/files?q=%271bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP%27%20in%20parents%20and%20name%20%3D%20%22data%22%20and%20trashed%3Dfalse%20and%20mimeType%20%3D%20%27application%2Fvnd.google-apps.spreadsheet%27&fields=files%28id%2C%20name%29&includeItemsFromAllDrives=true&supportsAllDrives=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 272,
            "text": "[\"1f\",\"8b\",\"08\",\"00\",\"00\",\"00\",\"00\",\"00\",\"00\",\"00\",\"ab\",\"e6\",\"52\",\"50\",\"4acbcc492d56b25288e65250a8066205a5cc142057c9d02235ccdd27c2d42fb128d8d939cad5bc4ad72f3fc0af30c9d4d3dd33d4d3a23229b9d422c7d3b03cb432504907ac312f313715a43525b12451092852cba510cb55cb050044950f1966000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 416,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
