{
  "log": {
    "_recordingName": "Google Integration Tests/Retrieves Missing Document from Google Docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "a6dccd0a4c03b06b3bc6a793d1c6d44c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/not-here"
            },
            {
              "name": "rootId",
              "value": "1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/gdocs2md@v3?path=%2Fnot-here&rootId=1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 31,
            "text": "error while converting document"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "cc25e8a704644057a5e8a704643057ba"
            },
            {
              "name": "x-invocation-id",
              "value": "1aa7a72e46564cfaa7a72e46563cfa2e"
            },
            {
              "name": "x-last-activation-id",
              "value": "1aa7a72e46564cfaa7a72e46563cfa2e"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 525,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
