{
  "log": {
    "_recordingName": "Google Integration Tests/Retrieves Missing Document from Google Docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "7d541718738fd32d51942d128f780a56",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/not-here"
            },
            {
              "name": "rootId",
              "value": "1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/gdocs2md@v2?path=%2Fnot-here&rootId=1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 31,
            "text": "error while converting document"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "x-last-activation-id",
              "value": "813d661dc20546a3bd661dc20566a3ae"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "3bcab248f713412e8ab248f713712e0b"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1270,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
