{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document from a private repository with unknown credentials",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "677b610b05aedfb2c8856f004a570020",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/breaks.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/cg-helix/Shared%20Documents/word2md-unit-tests"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/otherbranch"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v3?path=%2Fbreaks.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2Fcg-helix%2FShared%2520Documents%2Fword2md-unit-tests&rid=&src=adobe%2Ftheblog%2Fotherbranch"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 149,
            "text": "# Breaks\n\n## Bold break\n\n---\n\n## Italic breaks\n\n---\n\n## Break with heading\n\n---\n\n## 3 dashes in paragraph\n\nUse 3 dashes --- to create a new section.\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 09 Jun 2021 00:00:00 GMT"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "5e71318905314088b1318905317088c4"
            },
            {
              "name": "x-invocation-id",
              "value": "bec191e7212a4cda8191e7212a9cda4f"
            },
            {
              "name": "x-last-activation-id",
              "value": "bec191e7212a4cda8191e7212a9cda4f"
            },
            {
              "name": "x-source-location",
              "value": "/drives/b!DyVXacYnlkm_17hZL307Me9vzRzaKwZCpVMBYbPOKaVT_gD5WmlHRbC-PCpiwGPx/items/012VWERIYIZRNKPJ74HVHKUKOV22RBEFOJ"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1623289995.218"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4555,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
