{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document from a private repository with unknown credentials",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0b6ee866aa355adfdafe7d9c8a15883b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/breaks.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/cg-helix/Shared%20Documents/word2md-unit-tests"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/otherbranch"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v2?path=%2Fbreaks.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2Fcg-helix%2FShared%2520Documents%2Fword2md-unit-tests&rid=&src=adobe%2Ftheblog%2Fotherbranch"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 149,
            "text": "# Breaks\n\n## Bold break\n\n---\n\n## Italic breaks\n\n---\n\n## Break with heading\n\n---\n\n## 3 dashes in paragraph\n\nUse 3 dashes --- to create a new section.\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 27 Mar 2021 07:45:42 GMT"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "efafb571b9074d08afb571b907ed0867"
            },
            {
              "name": "x-last-activation-id",
              "value": "9ab31a9576b6490eb31a9576b6490ec8"
            },
            {
              "name": "x-source-location",
              "value": "/drives/b!DyVXacYnlkm_17hZL307Me9vzRzaKwZCpVMBYbPOKaVT_gD5WmlHRbC-PCpiwGPx/items/012VWERIYIZRNKPJ74HVHKUKOV22RBEFOJ"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1618465893.880"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1832,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
