{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document from a private repository with user credentials",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "08d03434e7bab5e9aa35a7e63ae8d720",
        "request": {
          "headers": [
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.2.1-patch.0"
            },
            {
              "name": "x-client-os",
              "value": "darwin"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.windows.net/common/UserRealm/helix%40adobe.com?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 402,
            "text": "{\"ver\":\"1.0\",\"account_type\":\"Federated\",\"domain_name\":\"adobe.com\",\"federation_protocol\":\"WSTrust\",\"federation_metadata_url\":\"https://adobe.okta.com/app/office365/kxg149x5TOLQDOUEMHSP/sso/wsfed/mex\",\"federation_active_auth_url\":\"https://adobe.okta.com/app/office365/kxg149x5TOLQDOUEMHSP/sso/wsfed/active\",\"cloud_instance_name\":\"microsoftonline.com\",\"cloud_audience_urn\":\"urn:federation:MicrosoftOnline\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "estsfd"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "estsfd"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=userrealm.json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122,
      },
      {
        "_id": "ee3d9b23e010dac1abf1fb802088fd20",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/soap+xml"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.2.1-patch.0"
            },
            {
              "name": "x-client-os",
              "value": "darwin"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobe.okta.com/app/office365/kxg149x5TOLQDOUEMHSP/sso/wsfed/mex"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 26145,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><wsdl:definitions xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:t='http://schemas.xmlsoap.org/ws/2005/02/trust' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://schemas.microsoft.com/ws/2008/06/identity/securitytokenservice' xmlns:msc='http://schemas.microsoft.com/ws/2005/12/wsdl/contract' xmlns:wsam='http://www.w3.org/2007/05/addressing/metadata' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:wsa='http://schemas.xmlsoap.org/ws/2004/08/addressing' xmlns:wsaw='http://www.w3.org/2006/05/addressing/wsdl' xmlns:wsap='http://schemas.xmlsoap.org/ws/2004/08/addressing/policy' xmlns:wsu='http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd' xmlns:trust='http://docs.oasis-open.org/ws-sx/ws-trust/200512' xmlns:wsp='http://schemas.xmlsoap.org/ws/2004/09/policy' xmlns:wsa10='http://www.w3.org/2005/08/addressing' name='SecurityTokenService' targetNamespace='http://schemas.microsoft.com/ws/2008/06/identity/securitytokenservice'><wsp:Policy wsu:Id='CustomBinding_IWSTrustFeb2005Async_policy'><wsp:ExactlyOne><wsp:All><msis:DomainInternet xmlns:msis='http://schemas.microsoft.com/ws/2009/12/identityserver/'/><http:NegotiateAuthentication xmlns:http='http://schemas.microsoft.com/ws/06/2004/policy/http'/><sp:TransportBinding xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken RequireClientCertificate='false'/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding><wsaw:UsingAddressing/></wsp:All></wsp:ExactlyOne></wsp:Policy><wsp:Policy wsu:Id='CertificateWSTrustBinding_IWSTrustFeb2005Async_policy'><wsp:ExactlyOne><wsp:All><sp:TransportBinding xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken RequireClientCertificate='false'/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout><sp:IncludeTimestamp/></wsp:Policy></sp:TransportBinding><sp:EndorsingSupportingTokens xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:X509Token sp:IncludeToken='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient'><wsp:Policy><sp:RequireThumbprintReference/><sp:WssX509V3Token10/></wsp:Policy></sp:X509Token><mssp:RsaToken sp:IncludeToken='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never' wsp:Optional='true' xmlns:mssp='http://schemas.microsoft.com/ws/2005/07/securitypolicy'/><sp:SignedParts><sp:Header Name='To' Namespace='http://www.w3.org/2005/08/addressing'/></sp:SignedParts></wsp:Policy></sp:EndorsingSupportingTokens><sp:Wss11 xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:MustSupportRefKeyIdentifier/><sp:MustSupportRefIssuerSerial/><sp:MustSupportRefThumbprint/><sp:MustSupportRefEncryptedKey/></wsp:Policy></sp:Wss11><sp:Trust10 xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:MustSupportIssuedTokens/><sp:RequireClientEntropy/><sp:RequireServerEntropy/></wsp:Policy></sp:Trust10><wsaw:UsingAddressing/></wsp:All></wsp:ExactlyOne></wsp:Policy><wsp:Policy wsu:Id='CertificateWSTrustBinding_IWSTrustFeb2005Async1_policy'><wsp:ExactlyOne><wsp:All><sp:TransportBinding xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken RequireClientCertificate='true'/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding><wsaw:UsingAddressing/></wsp:All></wsp:ExactlyOne></wsp:Policy><wsp:Policy wsu:Id='UserNameWSTrustBinding_IWSTrustFeb2005Async_policy'><wsp:ExactlyOne><wsp:All><sp:TransportBinding xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken RequireClientCertificate='false'/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout><sp:IncludeTimestamp/></wsp:Policy></sp:TransportBinding><sp:SignedSupportingTokens xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><sp:UsernameToken sp:IncludeToken='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient'><wsp:Policy><sp:WssUsernameToken10/></wsp:Policy></sp:UsernameToken></wsp:Policy></sp:SignedSupportingTokens><sp:EndorsingSupportingTokens xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy'><wsp:Policy><mssp:RsaToken sp:IncludeToken='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never' wsp:Optional='true' xmlns:mssp='http://schemas.microsoft.com/ws/2005/07/securi[...]
