{
  "log": {
    "_recordingName": "Google Integration Tests/Retrieves Document mounted md from Google Docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "b13f94fcd45c3c52c2eb339735f7e181",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": ""
            },
            {
              "name": "rootId",
              "value": "1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/gdocs2md@v1?path=&rootId=1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 26,
            "text": "# This is nothing\n\n...yet\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1595296168.600"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "f83072d9cbc44f1cb072d9cbc45f1c78"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "86c841b0b06e43238841b0b06ee32368"
            },
            {
              "name": "x-source-location",
              "value": "1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2499,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
