{
  "log": {
    "_recordingName": "Google Integration Tests/Retrieves Document mounted md from Google Docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "f706ec81e8293c892e5c870c1b17e11f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": ""
            },
            {
              "name": "rootId",
              "value": "1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/gdocs2md@v2?path=&rootId=1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 26,
            "text": "# This is nothing\n\n...yet\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1601452434.390"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "008b333e33474e878b333e33470e8701"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "9f28ac20bd11438aa8ac20bd11338afd"
            },
            {
              "name": "x-source-location",
              "value": "1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1695,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
