{
  "log": {
    "_recordingName": "Google Integration Tests/Retrieves Document mounted md from Google Docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "d639a980c92138203ec0710dae389773",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": ""
            },
            {
              "name": "rootId",
              "value": "1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/gdocs2md@v3?path=&rootId=1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 26,
            "text": "# This is nothing\n\n...yet\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "e462513e422c4b98a2513e422c1b98aa"
            },
            {
              "name": "x-invocation-id",
              "value": "5a729bcb653445a7b29bcb653475a706"
            },
            {
              "name": "x-last-activation-id",
              "value": "5a729bcb653445a7b29bcb653475a706"
            },
            {
              "name": "x-source-location",
              "value": "1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1623290307.170"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 795,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
