{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document from Word with If-Modified-Since",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "b87d5a4f92a8a07099e503404d437df9",
        "request": {
          "headers": [
            {
              "name": "if-modified-since",
              "value": "Tue, 10 Jun 2021 20:04:53 GMT"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/index.docx"
            },
            {
              "name": "shareLink",
              "value": "https://adobe.sharepoint.com/sites/TheBlog/Shared%20Documents/theblog"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a5"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v3?path=%2Findex.docx&shareLink=https%3A%2F%2Fadobe.sharepoint.com%2Fsites%2FTheBlog%2FShared%2520Documents%2Ftheblog&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "last-modified",
              "value": "Wed, 09 Jun 2021 21:52:18 GMT"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "8a3a1219ae7d49b6ba1219ae7da9b677"
            },
            {
              "name": "x-invocation-id",
              "value": "0e92f27e6cc844f592f27e6cc854f54d"
            },
            {
              "name": "x-last-activation-id",
              "value": "0e92f27e6cc844f592f27e6cc854f54d"
            },
            {
              "name": "x-source-location",
              "value": "/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1623290047.561"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            }
          ],
          "status": 304,
          "statusText": "Not Modified"
        },
        "time": 509,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
