{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document mounted md from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "b05b2b0c4a869cd0b13ca5344169c827",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": ""
            },
            {
              "name": "shareLink",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a5"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v1?path=&shareLink=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 682,
            "text": "# The Blog | Welcome to Adobe Blog\n\n---\n\n## Featured Posts\n\n-   <https://blog.adobe.com/en/2020/06/10/listening-learning-and-taking-action.html>\n\n---\n\n## News\n\n### Our response to COVID-19\n\nCheck out our collection of stories to help you stay creative, be resilient, and get inspired.\n\n[More on COVID-19](https://www.adobe.com/covid-19-response.html)\n\n-   <https://blog.adobe.com/en/2020/05/29/are-you-okay.html>\n-   [https://blog.adobe.com/en/2020/05/26/thank-you-for-your-servi[...]
