{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document mounted md from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "dac1b39b236ef82438bf4e94f170b49f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": ""
            },
            {
              "name": "shareLink",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a5"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v3?path=&shareLink=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 778,
            "text": "# The Blog | Welcome to Adobe Blog\n\n---\n\n## Featured Posts\n\n-   <https://blog.adobe.com/en/publish/2021/06/08/glow-up-show-up-lift-up.html>\n-   <https://blog.adobe.com/en/publish/2021/06/01/celebrating-mentoring-and-creating-with-pride.html#gs.2xpfca>\n\n---\n\n## News\n\n### Adobe Photoshop June New Releases\n\nMake anything you can imagine, wherever you’re inspired.\n\n[Browse the new releases](https://blog.adobe.com/en/topics/creative-cloud.html)\n\n-   <https://blog.adobe.com/en/pub[...]
