{
  "log": {
    "_recordingName": "OneDrive Integration Tests/Retrieves Document mounted md from Word",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "8c09856e0ab9df418b9ce8fa04955aef",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": ""
            },
            {
              "name": "shareLink",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/cb8a0dc5d9d89b800835166783e4130451d3c6a5"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/word2md@v2?path=&shareLink=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW44UHM362CKX5GYMQO2F4JIHSEV&rid=&src=adobe%2Ftheblog%2Fcb8a0dc5d9d89b800835166783e4130451d3c6a5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 1108,
            "text": "# The Blog | Welcome to Adobe Blog\n\n---\n\n## Featured Posts\n\n-   <https://blog.adobe.com/en/2020/09/14/inside-adobes-employee-focused-covid-19-response-roadmap.html>\n-   [https://blog.adobe.com/en/2020/06/10/listening-learning-and-taking-action.html](https://blog.adobe.com/en/2020/06/10/listening-learning-and-taking-action.html#gs.d75w28)\n-   [https://blog.adobe.com/en/2020/08/17/max-2020-registration-is-officially-open.html](https://blog.adobe.com/en/2020/08/17/max-2020-registration-is[...]
