{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get JSON",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "c3c79e7f0e7fe97736c8cd9b97aa32d9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "hlx_p.limit",
              "value": "4"
            },
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v2?hlx_p.limit=4&src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 704,
            "text": "{\n  \"data\": [{\n    \"import date\": \"2020-07-22T13:35:27.404Z\",\n    \"url\": \"https://theblog.adobe.com/adobe-ibm-and-red-hat-partner-to-advance-customer-experience-transformation/\",\n    \"year\": 44033\n  }, {\n    \"import date\": \"2020-07-22T13:35:27.408Z\",\n    \"url\": \"https://theblog.adobe.com/wipro-accelerates-the-paperless-enterprise-with-adobe-sign/\",\n    \"year\": 44033\n  }, {\n    \"import date\": \"2020-07-22T13:35:27.474Z\",\n    \"url\": \"https://theblog.adobe.com/getting-more-from-your-crm-data/\",\n    \"year\": 44032\n  }, {\n    \"import date\": \"2020-07-22T13:35:28.111Z\",\n    \"url\": \"https://theblog.adobe.com/the-emoji-year-in-review/\",\n    \"year\": 44029\n  }],\n  \"limit\": 4,\n  \"offset\": 0,\n  \"total\": 6008\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1601452126.446"
            },
            {
              "name": "x-gw-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-last-activation-id",
              "value": "294a7b32f84e4e818a7b32f84e3e8190"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "c478e66a1ee242c5b8e66a1ee292c5ce"
            },
            {
              "name": "last-modified",
              "value": "Mon, 14 Dec 2020 20:14:25 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7825,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
