{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get JSON",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "d4a0120b62366140bfd07b9a35756b33",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "4"
            },
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v3?limit=4&src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 629,
            "text": "{\"total\":6008,\"offset\":0,\"limit\":4,\"data\":[{\"year\":44033,\"url\":\"https://theblog.adobe.com/adobe-ibm-and-red-hat-partner-to-advance-customer-experience-transformation/\",\"import date\":\"2020-07-22T13:35:27.404Z\"},{\"year\":44033,\"url\":\"https://theblog.adobe.com/wipro-accelerates-the-paperless-enterprise-with-adobe-sign/\",\"import date\":\"2020-07-22T13:35:27.408Z\"},{\"year\":44032,\"url\":\"https://theblog.adobe.com/getting-more-from-your-crm-data/\",\"import date\":\"2020-07-22T13:35:27.474Z\"},{\"year\":44029,\"url\":\"https://theblo[...]
