{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get JSON",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "1f11bf17ed8f8d8fac1c5cf363347a4c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "hlx_p.limit",
              "value": "4"
            },
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v1?hlx_p.limit=4&src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 612,
            "text": "[{\n  \"import date\": \"2020-07-22T13:35:27.404Z\",\n  \"url\": \"https://theblog.adobe.com/adobe-ibm-and-red-hat-partner-to-advance-customer-experience-transformation/\",\n  \"year\": 44033\n}, {\n  \"import date\": \"2020-07-22T13:35:27.408Z\",\n  \"url\": \"https://theblog.adobe.com/wipro-accelerates-the-paperless-enterprise-with-adobe-sign/\",\n  \"year\": 44033\n}, {\n  \"import date\": \"2020-07-22T13:35:27.474Z\",\n  \"url\": \"https://theblog.adobe.com/getting-more-from-your-crm-data/\",\n  \"year\": 44032\n}, {\n  \"import date\": \"2020-07-22T13:35:28.111Z\",\n  \"url\": \"https://theblog.adobe.com/the-emoji-year-in-review/\",\n  \"year\": 44029\n}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1597917749.584"
            },
            {
              "name": "x-gw-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-last-activation-id",
              "value": "9f94e7fb1c834c2094e7fb1c83fc2007"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "5aa6fa1f98c8486ba6fa1f98c8e86b64"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 8648,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
