{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get JSON",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "d7e37c9f9204d48bbaa222dd2f07ceca",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "hlx_p.limit",
              "value": "4"
            },
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v1?hlx_p.limit=4&src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 690,
            "text": "[{\n  \"import date\": \"2020-06-24T07:45:30.983Z\",\n  \"url\": \"https://theblog.adobe.com/how-retailers-can-build-relationships-with-customers-from-a-distance/\",\n  \"year\": 44005\n}, {\n  \"import date\": \"2020-06-24T07:45:30.986Z\",\n  \"url\": \"https://theblog.adobe.com/u-s-executive-order-on-immigration-2020/\",\n  \"year\": 44005\n}, {\n  \"import date\": \"2020-06-24T07:45:30.988Z\",\n  \"url\": \"https://theblog.adobe.com/build-for-good-adobe-document-cloud-and-topcoder-host-developer-challenge-powered-by-adobe-pdf-sdks/\",\n  \"year\": 44005\n}, {\n  \"import date\": \"2020-06-24T07:45:31.715Z\",\n  \"url\": \"https://theblog.adobe.com/reimagining-customer-loyalty-through-value-driven-strategies/\",\n  \"year\": 44005\n}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1595211155.828"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "9327144ae7ff408ba7144ae7ff108be1"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "83d7e5f076c5449297e5f076c53492cd"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7279,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
