{
  "log": {
    "_recordingName": "Google Integration Tests/Retrieves Document from Google Docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "bccd042a7842920bd078de1ebf1a1774",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/nothing"
            },
            {
              "name": "rootId",
              "value": "1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/gdocs2md@v2?path=%2Fnothing&rootId=1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 26,
            "text": "# This is nothing\n\n...yet\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1601452402.301"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "95e23982ecca4060a23982ecca606044"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "f66619a951d14a5da619a951d11a5ddb"
            },
            {
              "name": "x-source-location",
              "value": "1GIItS1y0YXTySslLGqJZUFxwFH1DPlSg3R7ybYY3ATE"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4391,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
