{
  "log": {
    "_recordingName": "Google Integration Tests/Retrieves Document from Google Docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "5bc3ae91b0bca3d8a254bd15084f9c7c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "path",
              "value": "/nothing"
            },
            {
              "name": "rootId",
              "value": "1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP"
            },
            {
              "name": "rid",
              "value": ""
            },
            {
              "name": "src",
              "value": "adobe/theblog/master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/gdocs2md@v1?path=%2Fnothing&rootId=1bH7_28a1-Q3QEEvFhT9eTmR-D7_9F4xP&rid=&src=adobe%2Ftheblog%2Fmaster"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 26,
            "text": "# This is nothing\n\n...yet\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1589466099.184"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-last-activation-id",
              "value": "e6a989de52014dbba989de5201edbb54"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "15b49e6bd9b74989b49e6bd9b7998900"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 937,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
