{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get missing JSON from data-embed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "fa8bd6d77240d29a87a9d06958606f5d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v2?src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW65RTXCQHBBGZFZ6IHSOUITJM2C"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 867679,
            "text": "{\n  \"data\": [{\n    \"import date\": \"2020-07-22T13:35:27.404Z\",\n    \"url\": \"https://theblog.adobe.com/adobe-ibm-and-red-hat-partner-to-advance-customer-experience-transformation/\",\n    \"year\": 44033\n  }, {\n    \"import date\": \"2020-07-22T13:35:27.408Z\",\n    \"url\": \"https://theblog.adobe.com/wipro-accelerates-the-paperless-enterprise-with-adobe-sign/\",\n    \"year\": 44033\n  }, {\n    \"import date\": \"2020-07-22T13:35:27.474Z\",\n    \"url\": \"https://theblog.adobe.com/getting-more-from-your-crm-data/\",\n    \"year\": 44032\n  }, {\n    \"import date\": \"2020-07-22T13:35:28.111Z\",\n    \"url\": \"https://theblog.adobe.com/the-emoji-year-in-review/\",\n    \"year\": 44[...]
