{
  "log": {
    "_recordingName": "Google Reverse Lookup Tests/Returns 404 for google document (no matching mountpoint)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "18b2f8ea5240c818169a6082b08a86f7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "name,parents"
            }
          ],
          "url": "https://www.googleapis.com/drive/v3/files/1nbKakMrvDhf032da2hEYuxU30cdUmyZPv1kuRCKXiho?fields=name%2Cparents"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 276,
            "text": "[\"1f\",\"8b\",\"08\",\"00\",\"00\",\"00\",\"00\",\"00\",\"00\",\"00\",\"ab\",\"e6\",\"52\",\"50\",\"ca\",\"4b\",\"cc4d55b25250f248cdc9ac50f0484cce4e2cc9c8cf5308482c2a510853d2012a29482c4acd2b2906aa8ae6525050322ccecb4af7ca2ff4f637370cd1d52df5f1742ccecc4b71ccb130722bf52f290a52e25288e5aae5020061c4d6275e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 299,
      },
      {
        "_id": "76d76c289f2bc9885761e1a96e59689d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "name,parents"
            }
          ],
          "url": "https://www.googleapis.com/drive/v3/files/1snjgJoqKO71T--uLIAsindAl82FuOtrR?fields=name%2Cparents"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 120,
            "text": "[\"1f\",\"8b\",\"08\",\"00\",\"00\",\"00\",\"00000000abe65250ca4bcc4d55b25250ca48cdc9acd04dcecf2b49cd2b51e2aae50200bd3dec741d000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 369,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
