{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get JSON on author friendly url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "3b142c36a3d1bbacd0a94423415d6ab7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "hlx_p.limit",
              "value": "2"
            },
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW6SABPFMJZNWJCJ3WRV2GBPB5UY"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v3?hlx_p.limit=2&src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW6SABPFMJZNWJCJ3WRV2GBPB5UY"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 315,
            "text": "{\"total\":156,\"offset\":0,\"limit\":2,\"data\":[{\"Type\":\"Categories\",\"Level 1\":\"News\",\"Level 2\":\"\",\"Level 3\":\"\",\"Link\":\"\",\"Hidden\":\"\",\"ExcludeFromMetadata\":\"\"},{\"Type\":\"Categories\",\"Level 1\":\"Insights & Inspiration\",\"Level 2\":\"\",\"Level 3\":\"\",\"Link\":\"\",\"Hidden\":\"X\",\"ExcludeFromMetadata\":\"\"}],\":type\":\"sheet\",\":version\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Mon, 12 Apr 2021 19:59:43 GMT"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "96e33920542840d7a33920542890d7ff"
            },
            {
              "name": "x-invocation-id",
              "value": "9fbcdfff4e5443b1bcdfff4e5423b118"
            },
            {
              "name": "x-last-activation-id",
              "value": "9fbcdfff4e5443b1bcdfff4e5423b118"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1620876247.358"
            },
            {
              "name": "x-gw-cache",
              "value": "BYPASS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4609,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
