{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get JSON on author friendly url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "0098dbc14d509ec6036a70c537f9b185",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "hlx_p.limit",
              "value": "2"
            },
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW6SABPFMJZNWJCJ3WRV2GBPB5UY"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v2?hlx_p.limit=2&src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW6SABPFMJZNWJCJ3WRV2GBPB5UY"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 394,
            "text": "{\n  \"data\": [{\n    \"ExcludeFromMetadata\": \"\",\n    \"Hidden\": \"\",\n    \"Level 1\": \"News\",\n    \"Level 2\": \"\",\n    \"Level 3\": \"\",\n    \"Link\": \"\",\n    \"Type\": \"Categories\"\n  }, {\n    \"ExcludeFromMetadata\": \"\",\n    \"Hidden\": \"X\",\n    \"Level 1\": \"Insights & Inspiration\",\n    \"Level 2\": \"\",\n    \"Level 3\": \"\",\n    \"Link\": \"\",\n    \"Type\": \"Categories\"\n  }],\n  \"limit\": 2,\n  \"offset\": 0,\n  \"total\": 144\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1606789651.906"
            },
            {
              "name": "x-gw-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-last-activation-id",
              "value": "34a789a888ad4432a789a888ad643255"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "720d8d9411ca40c68d8d9411caa0c6af"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6638,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
