{
  "log": {
    "_recordingName": "Excel JSON Integration tests/Get JSON on author friendly url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "bdb76ba50d5179c9bcb50ce83dc5be17",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "2"
            },
            {
              "name": "src",
              "value": "onedrive:/drives/b!PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH/items/01DJQLOW6SABPFMJZNWJCJ3WRV2GBPB5UY"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/data-embed@v3?limit=2&src=onedrive%3A%2Fdrives%2Fb%21PpnkewKFAEaDTS6slvlVjh_3ih9lhEZMgYWwps6bPIWZMmLU5xGqS4uES8kIQZbH%2Fitems%2F01DJQLOW6SABPFMJZNWJCJ3WRV2GBPB5UY"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 315,
            "text": "{\"total\":156,\"offset\":0,\"limit\":2,\"data\":[{\"Type\":\"Categories\",\"Level 1\":\"News\",\"Level 2\":\"\",\"Level 3\":\"\",\"Link\":\"\",\"Hidden\":\"\",\"ExcludeFromMetadata\":\"\"},{\"Type\":\"Categories\",\"Level 1\":\"Insights & Inspiration\",\"Level 2\":\"\",\"Level 3\":\"\",\"Link\":\"\",\"Hidden\":\"X\",\"ExcludeFromMetadata\":\"\"}],\":type\":\"sheet\",\":version\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Fri, 28 May 2021 16:52:33 GMT"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "54c233f5236c47e38233f5236cb7e333"
            },
            {
              "name": "x-invocation-id",
              "value": "e0b9f4cb38074f79b9f4cb38078f7991"
            },
            {
              "name": "x-last-activation-id",
              "value": "e0b9f4cb38074f79b9f4cb38078f7991"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1622775810.325"
            },
            {
              "name": "x-gw-cache",
              "value": "BYPASS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3987,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
